/* @define App */

.App {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.App-leftButtons {
  width: 75%;
  text-align: center;
}

.App-rightButtons {
  width: 25%;
  text-align: center;
}
