.container {
  width: 100%;
  max-width: 550px;
  padding-bottom: 25px;
  background-color: #c00025;
  border: 2px solid grey;
  border-radius: 15px;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 450px;
  height: 100px;
  margin-top: 25px;
  padding-right: 8%;
  color: white;
  font-size: 5rem;
  background-color: #322c2d;
  border-radius: 50px;
  box-shadow: 1px 1px #322c2d;
}
